@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.occupant-send {
    padding-bottom: 200px;

    &__title {
        font-size: 30px;
        margin-bottom: 30px;
    }

    &__text {
        margin-bottom: 30px;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-gap: 30px;

        @include tablet-big-screen {
            grid-template-columns: 1fr;
        }
    }

    &__links {
    }

    &__links-title {
        font-size: 26px;
        margin-bottom: 15px;
    }

    &__link-wrapper {
        margin-bottom: 10px;
    }

    &__link {
        font-size: 20px;
        text-decoration: underline;
    }

    &__link-comment {
        font-style: italic;
    }

    &__info {
    }

    &__info-title {
        font-size: 26px;
        margin-bottom: 15px;
    }

    &__info-text {
        margin-bottom: 5px;
    }

    &__button {
        margin-top: 30px;
    }

    &__info-images {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px;
        margin-top: 30px;

        @include tablet-big-screen {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__info-image-link {
        width: 100%;
        height: 150px;
    }

    &__info-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
