@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.hello {
    font-size: 22px;
    text-align: justify;
    padding-bottom: 50px;

    @include tablet-big-screen {
        padding-top: 0;
        font-size: 18px;
    }

    &__title {
        font-size: 30px;
        font-weight: 700;

        @include tablet-big-screen {
            font-size: 24px;
        }
    }

    &__text {
        font-size: 20px;

        @include tablet-big-screen {
            font-size: 18px;
        }
    }

    &__faq {
        margin: 30px 0;


    }

    &__faq-item {
        margin-bottom: 15px;
    }

    &__faq-item-title {
        display: inline;
        font-weight: 700;
    }

    &__faq-item-text {
        display: inline;
    }

    &__buttons {
        @include margin-auto;
        display: grid;
        max-width: 650px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        margin-top: 30px;
    }

    &__button {

    }

    $border-color: #cbcbcb;

    &__list {
        margin-top: 30px;
        font-size: 13px;
    }

    &__list-buttons {
        @include flex-row;
        border-radius: 4px;
        overflow: hidden;
        width: fit-content;
        margin-bottom: 10px;
    }

    &__list-button {
        background: #9b9b9b;
        color: var(--white-color);
        font-size: 13px;
        padding: 5px 10px;
        @include flex-row-center;
        cursor: pointer;

        &--active {
            background: var(--main-color);
            color: var(--white-color);
        }
    }

    &__list-cell {
        padding: 10px;
        border-right: 1px solid $border-color;
        text-align: left;

        @include tablet-big-screen {
            border-right: none;
            padding: 5px;
        }

        &--header {
            font-weight: 700;
            text-align: center;
        }

        &:nth-last-of-type(1) {
            border-right: none;
        }

        &--header {
        }
    }

    &__list-cell-mobile-name {
        display: none;

        @include tablet-big-screen {
            display: block;
            font-size: 10px;
        }
    }

    &__list-items {
        border: 1px solid $border-color;
    }

    &__list-item {
        border-bottom: 1px solid $border-color;
        display: grid;
        grid-template-columns: 105px 1fr 1fr 200px;

        @include tablet-big-screen {
            grid-template-columns: 1fr;
        }

        &--header {
            @include tablet-big-screen {
                display: none;
            }
        }

        &--not-find {
            background: #ffe9e9;
        }

        &--not-send {
            background: #ffffc7;
        }

        &--done {
            background: #e8ffe8;
        }

        &:nth-last-of-type(1) {
            border-bottom: none;
        }
    }

    &__list-cell-button {
        padding: 5px 15px;
        height: auto;
    }

    &__list-pagination {
        @include flex-row-center;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 20px;
    }

    &__list-pagination-button {
        height: 30px;
        min-width: 40px;
        @include flex-row-center;
        padding: 0 5px;
        cursor: pointer;
        background: #9b9b9b;
        color: var(--white-color);
        margin: 3px;

        &--active {
            background: var(--main-color);
        }
    }

    &__list-pagination-separator {
        margin: 0 10px;
    }
}
